# Marianne CORVELLEC

Pour me contacter : corvellec @ unistra . fr

Liens utiles :

* [Carpentries](http://swcarpentry.github.io/python-novice-gapminder/) (pour apprendre les bases de la programmation en Python)
* [Conda](https://docs.conda.io/projects/conda/en/stable/user-guide/getting-started.html) (pour créer des environnements isolés et y installer des packages particuliers, tels que Polars)
* [Polars](https://docs.pola.rs/) (pour traiter des données tabulaires en Python)

# Table 1

Ici nous créons une table descriptive présentant les caractéristiques de la population étudiée à l'inclusion (*baseline*), stratifiée par bras de traitement.

In [7]:
import polars as pl

## Variables démographiques

In [8]:
import os
print(os.listdir())

['ascii-data-files-nida-ctn-0001-20251024', 'ascii-data-files-nida-ctn-0002-20251027', 'Baseline.ipynb', 'CDIS.mp4', 'challenge', 'DATA STDM.docx', 'Guide_Practice_SDTM_Annotation_NIDA_CTNN0001.docx', 'Projet', 'table1.ipynb']

In [9]:
df = pl.read_csv("ascii-data-files-nida-ctn-0001-20251024/dm.csv")

In [10]:
df.shape

(138, 20)

In [11]:
df.sample(n=3)

shape: (3, 20)
┌───────────────┬────────┬───────────┬───────────┬───┬────────────────────┬─────────┬───────┬──────┐
│ STUDYID       ┆ DOMAIN ┆ USUBJID   ┆ EPOCH     ┆ … ┆ ARM                ┆ COUNTRY ┆ DMDTC ┆ DMDY │
│ ---           ┆ ---    ┆ ---       ┆ ---       ┆   ┆ ---                ┆ ---     ┆ ---   ┆ ---  │
│ str           ┆ str    ┆ str       ┆ str       ┆   ┆ str                ┆ str     ┆ i64   ┆ str  │
╞═══════════════╪════════╪═══════════╪═══════════╪═══╪════════════════════╪═════════╪═══════╪══════╡
│ NIDA-CTN-0001 ┆ DM     ┆ 01_037973 ┆ SCREENING ┆ … ┆ BUPRENORPHINE/NALO ┆ USA     ┆ 2002  ┆ -1   │
│               ┆        ┆           ┆           ┆   ┆ XONE               ┆         ┆       ┆      │
│ NIDA-CTN-0001 ┆ DM     ┆ 01_089830 ┆ SCREENING ┆ … ┆ BUPRENORPHINE/NALO ┆ USA     ┆ 2001  ┆ 1    │
│               ┆        ┆           ┆           ┆   ┆ XONE               ┆         ┆       ┆      │
│ NIDA-CTN-0001 ┆ DM     ┆ 01_021985 ┆ SCREENING ┆ … ┆ CLONIDINE          ┆ USA     ┆ 2001  ┆ 1    │
└───────────────┴────────┴───────────┴───────────┴───┴────────────────────┴─────────┴───────┴──────┘

In [12]:
df.columns

['STUDYID',
 'DOMAIN',
 'USUBJID',
 'EPOCH',
 'VISIT',
 'VISITNUM',
 'RFSTDTC',
 'RFENDTC',
 'SITEID',
 'BRTHDTC',
 'AGE',
 'AGEU',
 'SEX',
 'RACE',
 'ETHNIC',
 'ARMCD',
 'ARM',
 'COUNTRY',
 'DMDTC',
 'DMDY']

In [18]:
df.select(
    pl.col('USUBJID'),
    pl.col('AGE'),
    pl.col('SEX'),
    pl.col('RACE'),
    pl.col('ETHNIC'),
    pl.col('ARMCD'),
).head(
    n=2
)

shape: (2, 6)
┌───────────┬──────────────┬─────┬─────────────────────────────────┬────────┬───────┐
│ USUBJID   ┆ AGE          ┆ SEX ┆ RACE                            ┆ ETHNIC ┆ ARMCD │
│ ---       ┆ ---          ┆ --- ┆ ---                             ┆ ---    ┆ ---   │
│ str       ┆ str          ┆ str ┆ str                             ┆ str    ┆ str   │
╞═══════════╪══════════════╪═════╪═════════════════════════════════╪════════╪═══════╡
│ 01_000579 ┆ 27.282683094 ┆ F   ┆ WHITE                           ┆ null   ┆ CLON  │
│ 01_001362 ┆ 41.429158111 ┆ F   ┆ BLACK, AFRICAN AMERICAN, OR NE… ┆ null   ┆ CLON  │
└───────────┴──────────────┴─────┴─────────────────────────────────┴────────┴───────┘

In [14]:
df.item(26, 'AGE')

'42.291581109'

In [19]:
df['AGE'].dtype

String

In [65]:
df.select(
    pl.col('USUBJID'),
    pl.col('AGE').cast(pl.Float64),
    pl.col('SEX'),
    pl.col('RACE'),
    pl.col('ETHNIC'),
    pl.col('ARMCD'),
).head(
    n=2
)

shape: (2, 6)
┌───────────┬───────────┬─────┬─────────────────────────────────┬────────┬───────┐
│ USUBJID   ┆ AGE       ┆ SEX ┆ RACE                            ┆ ETHNIC ┆ ARMCD │
│ ---       ┆ ---       ┆ --- ┆ ---                             ┆ ---    ┆ ---   │
│ str       ┆ f64       ┆ str ┆ str                             ┆ str    ┆ str   │
╞═══════════╪═══════════╪═════╪═════════════════════════════════╪════════╪═══════╡
│ 01_000579 ┆ 27.282683 ┆ F   ┆ WHITE                           ┆ null   ┆ CLON  │
│ 01_001362 ┆ 41.429158 ┆ F   ┆ BLACK, AFRICAN AMERICAN, OR NE… ┆ null   ┆ CLON  │
└───────────┴───────────┴─────┴─────────────────────────────────┴────────┴───────┘

Apparemment, il y a des valeurs manquantes pour la variable 'AGE'.

In [21]:
df = df.select(
    pl.col('USUBJID'),
    pl.col('AGE'),
    pl.col('SEX'),
    pl.col('RACE'),
    pl.col('ETHNIC'),
    pl.col('ARMCD'),
).filter(
    pl.col('AGE').str.len_chars() > 3,
)

df.shape

(112, 6)

Maintenant nous pouvons convertir ces chaînes de charactères en flottants.

In [22]:
df = df.select(
    pl.col('USUBJID'),
    pl.col('AGE').cast(pl.Float64),
    pl.col('SEX'),
    pl.col('RACE'),
    pl.col('ETHNIC'),
    pl.col('ARMCD'),
)

In [23]:
df.head(
    n=2
)

shape: (2, 6)
┌───────────┬───────────┬─────┬─────────────────────────────────┬────────┬───────┐
│ USUBJID   ┆ AGE       ┆ SEX ┆ RACE                            ┆ ETHNIC ┆ ARMCD │
│ ---       ┆ ---       ┆ --- ┆ ---                             ┆ ---    ┆ ---   │
│ str       ┆ f64       ┆ str ┆ str                             ┆ str    ┆ str   │
╞═══════════╪═══════════╪═════╪═════════════════════════════════╪════════╪═══════╡
│ 01_000579 ┆ 27.282683 ┆ F   ┆ WHITE                           ┆ null   ┆ CLON  │
│ 01_001362 ┆ 41.429158 ┆ F   ┆ BLACK, AFRICAN AMERICAN, OR NE… ┆ null   ┆ CLON  │
└───────────┴───────────┴─────┴─────────────────────────────────┴────────┴───────┘

Nous choisissons les variables numériques (continues).

In [24]:
continuous = ['AGE']

Nous choisissons les variables catégorielles.

In [25]:
categorical = ['SEX', 'RACE', 'ETHNIC']

Nous stratifions par bras de traitement.

In [26]:
groupby = 'ARMCD'

## Création rapide de la Table 1

Voir tutoriel dans le Moodle ("tableonePython_tuto.pdf").

In [28]:
import pandas as pd
# tableone est un package permettant de générer des statistiques récapitulatives (« Tableau 1 ») pour une population de patients.
from tableone import TableOne

In [29]:
pd.DataFrame(df, columns=df.columns)

,USUBJID,AGE,SEX,RACE,ETHNIC,ARMCD
0,01_000579,27.282683,F,WHITE,None,CLON
1,01_001362,41.429158,F,"BLACK, AFRICAN AMERICAN, OR NEGRO",None,CLON
2,01_001490,30.392882,M,WHITE,None,BUPNAL
3,01_002199,20.928131,M,WHITE,None,BUPNAL
4,01_002844,19.775496,F,OTHER,None,BUPNAL
...,...,...,...,...,...,...
107,01_096713,44.197125,M,"BLACK, AFRICAN AMERICAN, OR NEGRO",None,BUPNAL
108,01_096723,44.999316,M,"BLACK, AFRICAN AMERICAN, OR NEGRO",None,CLON
109,01_097261,46.732375,F,"BLACK, AFRICAN AMERICAN, OR NEGRO",None,CLON
110,01_098468,45.637235,F,WHITE,None,BUPNAL
111,01_099356,44.542094,M,WHITE,None,CLON

In [30]:
TableOne(
    pd.DataFrame(df, columns=df.columns),
    columns=continuous + categorical,
    continuous=continuous,
    categorical=categorical,
    groupby=groupby
)

                                                 Grouped by ARMCD
                                                          Missing     Overall       BUPNAL        CLON
n                                                                         112           77          35
AGE, mean (SD)                                                  0  36.3 (9.8)  35.7 (10.4)  37.6 (8.2)
SEX, n (%)     F                                                    45 (40.2)    30 (39.0)   15 (42.9)
               M                                                    67 (59.8)    47 (61.0)   20 (57.1)
RACE, n (%)    BLACK, AFRICAN AMERICAN, OR NEGRO                    22 (19.6)    15 (19.5)    7 (20.0)
               OTHER                                                 10 (8.9)      7 (9.1)     3 (8.6)
               SPANISH, HISPANIC, OR LATINO                         17 (15.2)    12 (15.6)    5 (14.3)
               WHITE                                                63 (56.2)    43 (55.8)   20 (57.1)
ETHNIC, n (%)  HISPANIC                                             20 (17.9)    15 (19.5)    5 (14.3)
               None                                                 92 (82.1)    62 (80.5)   30 (85.7)

# Création par étapes (de la Table 1)

Créons les tables intermédiaires, d'abord pour les variables catégorielles.

In [ ]:
a = 3

In [31]:
df.filter(
    pl.col('ARMCD') == 'CLON',
).group_by(
    pl.col('SEX'),
    maintain_order=True,
).len(
)

shape: (2, 2)
┌─────┬─────┐
│ SEX ┆ len │
│ --- ┆ --- │
│ str ┆ u32 │
╞═════╪═════╡
│ F   ┆ 15  │
│ M   ┆ 20  │
└─────┴─────┘

In [32]:
df.filter(
    pl.col('ARMCD') == 'CLON',
).group_by(
    pl.col('SEX'),
    maintain_order=True,
).len(
).with_columns(
    percentage=pl.col('len') / pl.sum('len'),
)

shape: (2, 3)
┌─────┬─────┬────────────┐
│ SEX ┆ len ┆ percentage │
│ --- ┆ --- ┆ ---        │
│ str ┆ u32 ┆ f64        │
╞═════╪═════╪════════════╡
│ F   ┆ 15  ┆ 0.428571   │
│ M   ┆ 20  ┆ 0.571429   │
└─────┴─────┴────────────┘

In [33]:
def cat_table(df, arm, cat_var):
    t = df.filter(
        pl.col('ARMCD') == arm,
    ).group_by(
        pl.col(cat_var),
        maintain_order=True,
    ).len(
    ).with_columns(
        percentage=pl.col('len') / pl.sum('len'),
    )
    return t

In [34]:
m_list = []

In [35]:
type(m_list)

list

In [36]:
bupn_cat = [cat_table(df, arm='BUPNAL', cat_var=cat) for cat in categorical]

In [37]:
clon_cat = [cat_table(df, arm='CLON', cat_var=cat) for cat in categorical]

In [38]:
clon_cat

[shape: (2, 3)
 ┌─────┬─────┬────────────┐
 │ SEX ┆ len ┆ percentage │
 │ --- ┆ --- ┆ ---        │
 │ str ┆ u32 ┆ f64        │
 ╞═════╪═════╪════════════╡
 │ F   ┆ 15  ┆ 0.428571   │
 │ M   ┆ 20  ┆ 0.571429   │
 └─────┴─────┴────────────┘,
 shape: (4, 3)
 ┌─────────────────────────────────┬─────┬────────────┐
 │ RACE                            ┆ len ┆ percentage │
 │ ---                             ┆ --- ┆ ---        │
 │ str                             ┆ u32 ┆ f64        │
 ╞═════════════════════════════════╪═════╪════════════╡
 │ WHITE                           ┆ 20  ┆ 0.571429   │
 │ BLACK, AFRICAN AMERICAN, OR NE… ┆ 7   ┆ 0.2        │
 │ SPANISH, HISPANIC, OR LATINO    ┆ 5   ┆ 0.142857   │
 │ OTHER                           ┆ 3   ┆ 0.085714   │
 └─────────────────────────────────┴─────┴────────────┘,
 shape: (2, 3)
 ┌──────────┬─────┬────────────┐
 │ ETHNIC   ┆ len ┆ percentage │
 │ ---      ┆ --- ┆ ---        │
 │ str      ┆ u32 ┆ f64        │
 ╞══════════╪═════╪════════════╡
 │ null     ┆ 30  ┆ 0.857143   │
 │ HISPANIC ┆ 5   ┆ 0.142857   │
 └──────────┴─────┴────────────┘]

Et maintenant pour la variable numérique continue.

In [39]:
effectifs = df.group_by(
    pl.col('ARMCD'),
    maintain_order=True,
).len(
).with_columns(
    percentage=pl.col('len') / pl.sum('len'),
)

effectifs

shape: (2, 3)
┌────────┬─────┬────────────┐
│ ARMCD  ┆ len ┆ percentage │
│ ---    ┆ --- ┆ ---        │
│ str    ┆ u32 ┆ f64        │
╞════════╪═════╪════════════╡
│ CLON   ┆ 35  ┆ 0.3125     │
│ BUPNAL ┆ 77  ┆ 0.6875     │
└────────┴─────┴────────────┘

In [40]:
cont = df.group_by(
    pl.col('ARMCD'),
    maintain_order=True,
).agg(
    mean_age=pl.col('AGE').mean(),
    std_age=pl.col('AGE').std(),
    med_age=pl.col('AGE').median(),
)

cont

shape: (2, 4)
┌────────┬───────────┬───────────┬───────────┐
│ ARMCD  ┆ mean_age  ┆ std_age   ┆ med_age   │
│ ---    ┆ ---       ┆ ---       ┆ ---       │
│ str    ┆ f64       ┆ f64       ┆ f64       │
╞════════╪═══════════╪═══════════╪═══════════╡
│ CLON   ┆ 37.585763 ┆ 8.248228  ┆ 39.400411 │
│ BUPNAL ┆ 35.664169 ┆ 10.392428 ┆ 35.307324 │
└────────┴───────────┴───────────┴───────────┘

In [41]:
cont.columns

['ARMCD', 'mean_age', 'std_age', 'med_age']

Combinons les tables intermédiaires...

In [42]:
cont = pd.DataFrame(cont, columns=cont.columns)

In [43]:
cont

    ARMCD   mean_age    std_age    med_age
0    CLON  37.585763   8.248228  39.400411
1  BUPNAL  35.664169  10.392428  35.307324

In [44]:
cont.columns

Index(['ARMCD', 'mean_age', 'std_age', 'med_age'], dtype='object')

In [45]:
cont.columns = pd.MultiIndex.from_product([['age'], cont.columns])

In [46]:
cont

      age
    ARMCD   mean_age    std_age    med_age
0    CLON  37.585763   8.248228  39.400411
1  BUPNAL  35.664169  10.392428  35.307324

In [47]:
effectifs = pd.DataFrame(effectifs, columns=['ARMCD', 'n', 'percentage'])

In [48]:
effectifs

    ARMCD   n percentage
0    CLON  35     0.3125
1  BUPNAL  77     0.6875

In [49]:
effectifs.columns = pd.MultiIndex.from_product([['effectifs'], effectifs.columns])

In [50]:
effectifs

  effectifs
      ARMCD   n percentage
0      CLON  35     0.3125
1    BUPNAL  77     0.6875

In [51]:
effectifs.merge(cont, left_index=True, right_index=True)

  effectifs                    age
      ARMCD   n percentage   ARMCD   mean_age    std_age    med_age
0      CLON  35     0.3125    CLON  37.585763   8.248228  39.400411
1    BUPNAL  77     0.6875  BUPNAL  35.664169  10.392428  35.307324

Transposons cette table, pour avoir les bras en colonnes.

In [52]:
effectifs.merge(cont, left_index=True, right_index=True).transpose()

                              0          1
effectifs ARMCD            CLON     BUPNAL
          n                  35         77
          percentage     0.3125     0.6875
age       ARMCD            CLON     BUPNAL
          mean_age    37.585763  35.664169
          std_age      8.248228  10.392428
          med_age     39.400411  35.307324

In [53]:
t = effectifs.merge(cont, left_index=True, right_index=True).transpose()

In [54]:
t = t.drop(index=('age', 'ARMCD'))
t

                              0          1
effectifs ARMCD            CLON     BUPNAL
          n                  35         77
          percentage     0.3125     0.6875
age       mean_age    37.585763  35.664169
          std_age      8.248228  10.392428
          med_age     39.400411  35.307324

## Antécédents médicaux

In [55]:
mh = pl.read_csv('ascii-data-files-nida-ctn-0001-20251024/mh.csv')

In [56]:
mh.shape

(4372, 14)

In [57]:
mh.sample(
    n=3,
)

shape: (3, 14)
┌───────────────┬────────┬───────────┬───────────┬───┬──────────┬───────┬──────┬──────────────┐
│ STUDYID       ┆ DOMAIN ┆ USUBJID   ┆ EPOCH     ┆ … ┆ VISITNUM ┆ MHDTC ┆ MHDY ┆ MHENRF       │
│ ---           ┆ ---    ┆ ---       ┆ ---       ┆   ┆ ---      ┆ ---   ┆ ---  ┆ ---          │
│ str           ┆ str    ┆ str       ┆ str       ┆   ┆ i64      ┆ i64   ┆ i64  ┆ str          │
╞═══════════════╪════════╪═══════════╪═══════════╪═══╪══════════╪═══════╪══════╪══════════════╡
│ NIDA-CTN-0001 ┆ MH     ┆ 01_075298 ┆ SCREENING ┆ … ┆ 0        ┆ 2001  ┆ 1    ┆ DURING/AFTER │
│ NIDA-CTN-0001 ┆ MH     ┆ 01_033375 ┆ SCREENING ┆ … ┆ 0        ┆ 2001  ┆ 1    ┆ DURING/AFTER │
│ NIDA-CTN-0001 ┆ MH     ┆ 01_015578 ┆ SCREENING ┆ … ┆ 0        ┆ 2002  ┆ null ┆ BEFORE       │
└───────────────┴────────┴───────────┴───────────┴───┴──────────┴───────┴──────┴──────────────┘

In [58]:
mh.select(
    pl.col('VISITNUM'),
).unique()

shape: (1, 1)
┌──────────┐
│ VISITNUM │
│ ---      │
│ i64      │
╞══════════╡
│ 0        │
└──────────┘

In [59]:
mh.select(
    pl.col('USUBJID'),
    pl.col('MHTERM'),
    pl.col('MHOCCUR'),
).head(
    n=2
)

shape: (2, 3)
┌───────────┬───────────┬─────────┐
│ USUBJID   ┆ MHTERM    ┆ MHOCCUR │
│ ---       ┆ ---       ┆ ---     │
│ str       ┆ str       ┆ str     │
╞═══════════╪═══════════╪═════════╡
│ 01_000579 ┆ ALLERGIES ┆ N       │
│ 01_000579 ┆ ALLERGIES ┆ N       │
└───────────┴───────────┴─────────┘

In [62]:
mh.join(
    df,
    on='USUBJID',
).shape

(3695, 19)

In [63]:
mh.join(
    df,
    on='USUBJID',
    how='inner',
).shape

(3695, 19)

In [64]:
mh.join(
    df,
    on='USUBJID',
    how='full',
).shape

(4372, 20)

à suivre...